
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@using MvcFlowerShop.Models

<div class="title">
    <span class="title_icon">
        <img src="@Url.Content("~/Content/Custom/")images/bullet1.gif" alt="" />
    </span>My cart
</div>

<div class="feat_prod_box_details">
    <table class="cart_table">
        <tr class="cart_title">
            <td>Option</td>
            <td>Item pic</td>
            <td>Product name</td>
            <td>Unit price</td>
            <td>Qty</td>
            <td>Total</td>
        </tr>

        @*@{
                List<Item> cart = (List<Item>)Session["cart"];
            }*@

        @{ int index = 0; }
        @if (Session["cart"] != null)
        {
            foreach (var item in (List<Item>)Session["cart"])
            {
                <tr>
                    <td><a href="@Url.Action("Delete", "Cart", new { id = index })"> X </a></td>
                    <td>
                        <a href="@Url.Action("Details", "Product", new { id = item.Product.Id })">
                            <img src="@Url.Content("~/Content/Custom/")images/@item.Product.Photo" alt="" border="0" class="cart_thumb" width="30" height="31" />
                        </a>
                    </td>
                    <td>@item.Product.Name</td>
                    <td>$@item.Product.Price</td>
                    <td>@item.Product.Quantity</td>
                    <td>$@(item.Product.Price * item.Product.Quantity)</td>

                </tr>
                index++;
            }
        }



        @*<tr>
                <td><a href="#"><img src="@Url.Content("~/Content/Custom/")images/cart_thumb.gif" alt="" border="0" class="cart_thumb" /></a></td>
                <td>Gift flowers</td>
                <td>100$</td>
                <td>1</td>
                <td>100$</td>
            </tr>
            <tr>
                <td><a href="#"><img src="@Url.Content("~/Content/Custom/")images/cart_thumb.gif" alt="" border="0" class="cart_thumb" /></a></td>
                <td>Gift flowers</td>
                <td>100$</td>
                <td>1</td>
                <td>100$</td>
            </tr>*@

        @*<tr>
                <td colspan="4" class="cart_total"><span class="red">TOTAL SHIPPING:</span></td>
                <td> 250$</td>
            </tr>*@

        <tr>
            <td colspan="4" class="cart_total"><span class="red">TOTAL:</span></td>
            <td>
                $
                @{
                    decimal s = 0;
                    if (Session["cart"] != null)
                    {
                        List<Item> cart = (List<Item>)Session["cart"];
                        s = cart.Sum(i => i.Quantity * i.Product.Price).Value;
                    }
                }@s
            </td>
        </tr>
    </table>



    <a href="@Url.Action("Index", "Home")" class="continue">&lt; continue</a>
    <a href="@Url.Action("Checkout", "Cart")" class="checkout">checkout &gt;</a>
</div>
<div class="clear"></div>


